.Notifications {
  position: relative;
  padding: 5px;
  border: 2px dashed rgb(243, 95, 95);
}

.Notifications img {
  width: 15px;
  height: 15px;
}

.Notifications button, .Notifications img {
  position: absolute;
  top: 5px;
  right: 5px;
}

[data-notification-type='default'] {
  color: blue;
}

[data-notification-type='urgent'] {
  color: red;
}

.Notifications button {
  background: none;
  border: none;
}
