table {
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30%;
}

thead, tbody, [colSpan="2"]{
  border: 3px solid grey; /* Adds border to each cell */
  padding: 8px;
  text-align: left; /* Aligns text to the left */
}

[colSpan="2"] {
  text-align: center;
}

