.App-header {
  color: rgb(243, 95, 95);
}

img {
  display: inline;
  width: 300px;
  height: 300px;
}

h1 {
  display: inline;
  position: absolute;
  top: 100px;
}

hr {
  height: 4px;
  background-color: rgb(243, 95, 95);
}

.App-body P {
  padding-bottom: 30%;
  font-weight: bold;
  font-size: large;
}

.App-footer p {
  font-style: italic;
  font-weight: bold;
  font-size: large;
  text-align: center;
}